---

---

<form
  id="orderForm"
  class="flex flex-col gap-8 p-4 rounded-2xl bg-white border-1 w-full sm:w-100 mx-auto md:w-120 lg:w-140"
>
  <div
    style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;"
  >
    <label for="hp">Deixe este campo vazio</label>
    <input type="text" id="hp" name="hp" tabindex="-1" autocomplete="off" />
  </div>
  <div class="flex flex-col gap-2">
    <label class="text-[#d94694] font-semibold" for="name">Nome:</label>
    <input
      type="text"
      id="name"
      name="name"
      placeholder="Maria Oliveira"
      class="border-1 p-2 rounded-2xl"
      required
    />
  </div>
  <div class="flex flex-col gap-2">
    <label class="text-[#d94694] font-semibold" for="address">Endereço:</label>
    <input
      type="text"
      id="address"
      name="address"
      placeholder="Rua João Dias, nº 4, Bairro Joaquim Dias"
      class="border-1 p-2 rounded-2xl"
      required
    />
  </div>
  <div class="flex flex-col gap-2">
    <label class="text-[#d94694] font-semibold" for="orderDetails"
      >Detalhes do pedido:</label
    >
    <textarea
      id="orderDetails"
      name="orderDetails"
      class="border-1 p-2 rounded-2xl"
      rows="6"
      readonly
    >
    </textarea>
  </div>
  <button
    type="submit"
    class="self-center w-60 font-semibold font-nunito bg-emerald-500 text-[#ffffff] p-4 rounded-3xl border-1 border-black hover:bg-emerald-400 transition-colors duration-300 ease-in-out"
    >Finalizar o pedido</button
  >
</form>

<style>
  textarea {
    scrollbar-color: #e60073 transparent;
    scrollbar-width: thin;
  }
</style>

<script>
  import { cart, carregarCarrinho, calcularTotal } from "../../lib/store.js";

  document.addEventListener("DOMContentLoaded", () => {
    carregarCarrinho();

    let total = calcularTotal();

    const orderDetails = document.getElementById("orderDetails");

    const details = cart
      .map(
        (item) =>
          `${item.titulo} - R$ ${item.preco}\n - Qnt: ${item.quantidade}`
      )
      .join("\n");

    orderDetails.value = `${details}\n\nTotal: R$ ${total}`;
  });

  document
    .getElementById("orderForm")
    .addEventListener("submit", function (event) {
      event.preventDefault();

      const honeypot = document.getElementById("hp").value;
      if (honeypot) {
        console.log("Bot detectado. Envio bloqueado.");
        return;
      }

      const name = document.getElementById("name").value;
      const address = document.getElementById("address").value;
      const orderDetails = document.getElementById("orderDetails").value;

      const message = `Olá, tudo bem? Meu nome é: ${name}.\nAqui estão detalhes do meu pedido:\n${orderDetails}\nE esse é o meu endereço: ${address}.`;

      const phoneNumber = "59888888888";
      const whatsappUrl = `https://wa.me/${phoneNumber}?text=${encodeURIComponent(message)}`;

      window.open(whatsappUrl, "_blank", "noopener,noreferrer");
    });
</script>
